div.connection-status {
  display: flex;
  justify-content: flex-end;

  p.connection-text {
    transition: opacity;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
    opacity: 1;

    &.connected {
      transition-duration: 5s;
      transition-timing-function: ease-out;
      opacity: 0;
    }
  }

  $dotSize: 12px;
  span.connection-status-dot {
    display: inline-block;
    margin: 0 4px;
    height: $dotSize;
    width: $dotSize;
    border-radius: 0.5 * $dotSize;

    background-color: red;

    &.connected {
      background-color: green;
    }
  }
}
