div.ot-pattern-num {
  color: white;

  &.size-large {
    font-size: 10px;
    width: 28px;
    height: 28px;
  }
  &.size-small {
    font-size: 8px;
    width: 16px;
    height: 16px;
  }

  background-color: rgba(200, 64, 64, 1);
  &.active {
    background-color: rgba(64, 128, 64, 0.75);
  }

  div {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

}
