
html,
body,
div#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$grid-columns: 24;
$grid-gutter-width:           0px;
@import 'bootstrap/scss/bootstrap.scss';
